*.a
*.la
*.lo
*.log
*.m4
*.o
*.stamp
*.swp
*.tar.xz
*.trs
*~

/aclocal.m4
/build/
/config.log
/config.status
/configure
.deps/
.dirstamp
/install-tree/
/Makefile
/Makefile.in

/src/*.varlink.inc.c
/org.varlink.resolver
